.call-to-action {
    .call-to-action-inner {
        min-height: 350px;
        border-radius: 24px;
        overflow: hidden;
        @include media-breakpoint-up(xl) {
            min-height: 350px;   
        }
        h4 {
            color: $primary;
        }
        p {
            font-weight: $font-weight-light;
        }
        .call-to-action-pic {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            padding-right: 0;
            &::after {
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                right: 50px;
                top: 0;
            }
            img {
                //opacity: 0.5;
                object-fit: cover;
                object-position: center center;
            }
        }
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-bg);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            opacity: 0.5;
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
}

.cta-section {
    .custom-card {
        background-color: rgba(var(--color-bg-rgb), 0.00);
    }
}

html[data-theme="light"] {
    .call-to-action .call-to-action-inner {
        background-color: $white;
        .call-to-action-pic {
            &:after {
                background: linear-gradient(264deg, rgba(17, 17, 17, 0.00) 4.16%, $white 72.5%);
            }
        }
    }
}

html[data-theme="dark"] {
    .call-to-action .call-to-action-inner {
        background-color: $darkgrey;
        .call-to-action-pic {
            &:after {
                background: linear-gradient(264deg, rgba(17, 17, 17, 0.00) 4.16%, $darkgrey 72.5%);
            }
        }
    }
}