<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="wrapper">
    <header class="header">
      {{ if eq .Site.Language.Lang "ar" }}
          {{ partial "header.ar.html" . }}
      {{ else }}
          {{ partial "header.en.html" . }}
      {{ end }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
      <footer class="footer">
      {{ if eq .Site.Language.Lang "ar" }}
          {{ partial "footer.ar.html" . }}
      {{ else }}
          {{ partial "footer.en.html" . }}
      {{ end }}
    </footer>
  </div>
  {{ partial "access-popup.html" . }}
</body>
</html>
