{{ define "main" }}
<section class="block inner-hero-block position-relative">
  <!-- <div class="hero-bg">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
    <img src="{{ (resources.Get "images/our-values-section-bg-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
  </div> -->
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5 mt-xl-5">
      <div class="col-12 col-lg-10 col-xl-9" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item">
            <h1 class="text-uppercase mb-3">الإستثمار</h1>
            <span class="fs-4 text-light mb-4 pb-lg-2 d-block">تداول بأمان وحقق العائدات... في منصة متكاملة.</span>
            <p class="text-light mb-0">يمكنك بناء وإدارة الأصول الرقمية من خلال التداول بمعايير مؤسسية وحلول الحفظ الأمين واستراتيجيات العائد. اعمل ضمن إطار سوق أبوظبي العالمي التنظيمي والذي يتسم بالشفافية والإفصاح والدعم على مدار الساعة طوال أيام الأسبوع.</p>
            <!-- <div class="d-flex justify-content-center pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">BECOME A CLIENT</a>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style" id="trading">
  <div class="block-bg top-0">
    <img src="{{ (resources.Get "images/holistic-background.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100">
    <img src="{{ (resources.Get "images/our-values-section-bg-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-5 text-light pb-4 pb-md-0" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-4">التداول</h2>
        <p><strong>دقة. سيولة. سرية</strong><br> نفِّذ صفقات فورية للبيتكوين والأصول الرقمية الرائدة بأسعار مؤسسية وسيولة عالمية عميقة. يمكنك زيادة أو تقليل الهامش بكفاءة عبر وسطاء موثوق بهم يعملون ضمن إطار تنظيمي.</p>
        <h3 class="text-color-primary text-uppercase pt-4">استخدامات الخدمة:</h3>
        <ul class="ps-4">
          <li>تعديل هامش البيتكوين بسرعة</li>
          <li>تنويع محفظتك من الأصول الرقمية</li>
          <li>إدارة السيولة قصيرة أو طويلة الأجل</li>
        </ul>
        <div class="d-flex pt-4">
          <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">انضم إلى قائمة عملائنا</a>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-xl-1">
        <div class="row row-gap-3">
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">تنفيذ بامتياز عبر أفضل الوسطاء العالميين</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">وصول فوري إلى السيولة بتسعير شفاف</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">بنية تحتية للتداول متوافقة مع متطلبات سلطة تنظيم الخدمات المالية في أبوظبي</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">سرية تامة مع شفافية كاملة للتوثيق</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style" id="custody">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-5 text-light pb-4 pb-md-0" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-4">الحفظ الأمين</h2>
        <p><strong>أمان مؤسسي. تحكُّم كامل.</strong> <br>اضمن سلامة أصولك الرقمية من خلال خدمة حفظ أمين مؤسسية ومفصولة بالكامل ومؤمَّن عليها ومُدقَّقة، تدار بواسطة جهات حفظ معتمدة من سلطة تنظيم الخدمات المالية (FSRA) وتدعم أكثر من 75 أصلاً رائداً.</p>
        <div class="d-flex pt-4">
          <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">انضم إلى قائمة عملائنا</a>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-xl-1">
        <div class="row row-gap-3">
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">الحفظ حصرياً عبر مُقدِّمي خدمات مُرخَّصين وروّاد في القطاع</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">فصل كامل على المستويين القانوني والتقني</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">فصل جغرافي اختياري لتعزيز إدارة المخاطر</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">تغطية تأمينية تصل إلى 100 مليون دولار أمريكي (قابلة للتعديل)</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">دعم للعملات والأصول المعتمدة من سلطة تنظيم الخدمات المالية</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">مرونة تشغيلية على مدار الساعة طوال أيام الأسبوع مع ضوابط متعددة الطبقات</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style" id="yield-strategies">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-5 text-light pb-4 pb-md-0" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-4">استراتيجيات تحقيق العائد</h2>
        <p><strong>تحقيق العائدات. إدارة المخاطر.</strong> <br>يمكنك الوصول إلى مجموعة مختارة من فرص العائد مُصمَّمة لتناسب مستويات مختلفة من المخاطر والعائد. ادمج بين استراتيجيات التخزين (Staking) والإقراض والمنتجات المهيكلة لتحقيق أفضل مستويات الاستقرار والأداء.</p>
        <div class="d-flex pt-4">
          <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">انضم إلى قائمة عملائنا</a>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-xl-1">
        <div class="row row-gap-3">
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">خيارات الحفظ الأمين المفصول والمؤمَّن عليه</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">وصول فوري إلى السيولة</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">محفظة منتجات واسعة النطاق للمخاطر والعائد</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">حوكمة متوافقة مع متطلبات سلطة تنظيم الخدمات المالية</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">رصد وإفصاح متكامل للمخاطر</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">خيارات إنكشاف مرنة قصيرة وطويلة الأجل</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">عمليات تدقيق مبسطة مع شفافية كاملة</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-lg-12 pt-5">
        <table class="table">
          <thead>
            <tr>
              <th width="20%">الإستراتيجية</th>
              <th width="40%">الوصف</th>
              <th width="20%">مستوى المخاطر</th>
              <th width="20%">العائد التاريخي (بالبيتكوين)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>التداول الفوري</td>
              <td>يمكنك زيادة أو تقليل إنكشافك للبيتكوين عبر أفضل تنفيذ من خلال وسطاء عالميين.</td>
              <td>متدن</td>
              <td>إنكشاف البيتكوين</td>
            </tr>
            <tr>
              <td>التخزين</td>
              <td>حقيق عوائد منخفضة المخاطر بالمشاركة في عملية التحقق من صحة الشبكة عبر جهات حفظ معتمدة</td>
              <td>منخفض</td>
              <td>0.8% - 1.5%</td>
            </tr>
            <tr>
              <td>الإقراض</td>
              <td>توليد العائد عن طريق إقراض البيتكوين إلى مقترضين مؤسسيين بضمانات تفوق قيمة القرض</td>
              <td>متوسط</td>
              <td>2% - 4%</td>
            </tr>
            <tr>
              <td>استراتيجيات العائد والمنتجات المهيكلة</td>
              <td>الوصول إلى محافظ مدمجة ومعدَّلة حسب المخاطر، تشمل المنتجات المهيكلة وصناديق التحوُّط.</td>
              <td>متوسط - مرتفع</td>
              <td>5% - 10%+</td>
            </tr>
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</section>

<section class="block call-to-action">
  <div class="container">
    <div class="w-100 call-to-action-inner p-4 p-lg-5 position-relative d-flex">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-12 col-lg-12 pe-xl-5 z-1" data-aos="fade-up" data-aos-duration="500">
            <h4 class="mb-3">وقتك الآن للانضمام إلى النخبة</h4>
            <p class="mb-4 text-light text-large">وصول حصري. خدمة استثنائية.</p>
            <div class="d-flex pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">انضم الى الدائرة</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 call-to-action-pic">
            <img src="{{ (resources.Get "images/call-to-action.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
            <img src="{{ (resources.Get "images/call-to-action-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
