{{ define "main" }}
<section class="block inner-hero-block position-relative">
  <!-- <div class="hero-bg">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
    <img src="{{ (resources.Get "images/our-values-section-bg-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
  </div> -->
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5 mt-xl-5">
      <div class="col-12 col-lg-10 col-xl-9" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item">
            <h1 class="text-uppercase mb-3">Investment</h1>
            <span class="fs-4 text-light mb-4 pb-lg-2 d-block">Trade, Secure and Earn - All in One Platform</span>
            <p class="text-light">Build and manage your exposure to Bitcoin and leading digital assets through institutional-grade trading, custody solutions and yield strategies. Operate within a regulated ADGM framework with transparency, reporting, and 24/7 support.</p>
            <!-- <div class="d-flex justify-content-center pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">BECOME A CLIENT</a>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style" id="trading">
  <div class="block-bg top-0">
    <img src="{{ (resources.Get "images/holistic-background.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100">
    <img src="{{ (resources.Get "images/our-values-section-bg-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-5 text-light pb-4 pb-md-0" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-4">Trading</h2>
        <p><strong>Precision. Liquidity. Confidentiality.</strong><br> Execute spot trades for Bitcoin and other leading digital assets with institutional pricing and deep global liquidity. Gain or reduce exposure efficiently through trusted brokers under a regulated framework.</p>
        <h3 class="text-color-primary text-uppercase pt-4">Use Cases:</h3>
        <ul class="ps-4">
          <li>Adjust BTC exposure quickly</li>
          <li>Diversify digital positions</li>
          <li>Manage short- or long-term liquidity</li>
        </ul>
        <div class="d-flex pt-4">
          <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">BECOME A CLIENT</a>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-xl-1">
        <div class="row row-gap-3">
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Best execution through top-tier global brokers</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Instant access to liquidity and transparent pricing</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">FSRA-compliant trading infrastructure</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Full confidentiality and documentation transparency</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style" id="custody">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-5 text-light pb-4 pb-md-0" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-4">Custody</h2>
        <p><strong>Institutional Security. Complete Control.</strong> <br>Protect your digital assets with fully segregated, insured, and audited institutional custody. Managed through FSRA-approved custodians supporting 75+ leading assets.</p>
        <div class="d-flex pt-4">
          <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">BECOME A CLIENT</a>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-xl-1">
        <div class="row row-gap-3">
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Custody only via licensed, industry-leading providers</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Full segregation on both legal and technical levels</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Optional geographical segregation for enhanced risk control</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Insurance coverage up to USD 100 million (expandable)</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Support for FSRA-approved coins and tokens</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">24/7 operational flexibility with multi-layered controls</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style" id="yield-strategies">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-5 text-light pb-4 pb-md-0" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-4">Yield Strategies</h2>
        <p><strong>Generate Returns. Manage Risk.</strong> <br>Access a curated range of yield opportunities built around different risk and return profiles. Combine staking, lending, and structured strategies to balance stability and performance.</p>
        <div class="d-flex pt-4">
          <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">BECOME A CLIENT</a>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-xl-1">
        <div class="row row-gap-3">
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Option for segregated and insured custody</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Instant access to liquidity</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Broad risk-reward product portfolio</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">FSRA-compliant governance</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Integrated risk monitoring and reporting</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Short- and long-term exposure options</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Simplified audit and full transparency</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-lg-12 pt-5">
        <table class="table">
          <thead>
            <tr>
              <th width="20%">Exposure</th>
              <th width="40%">Description</th>
              <th width="20%">Risk Level</th>
              <th width="20%">Historical return(BTC terms)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Spot</td>
              <td>Gain or reduce exposure to BTC via best execution through global brokers</td>
              <td>minimal</td>
              <td>BTC exposure</td>
            </tr>
            <tr>
              <td>Staking</td>
              <td>Earn low-risk rewards by participating in network validation through approved custodians.</td>
              <td>low</td>
              <td>0.8%-1.5%</td>
            </tr>
            <tr>
              <td>Lending</td>
              <td>Generate yield by lending BTC to over-collateralized institutional borrowers.</td>
              <td>medium</td>
              <td>2%-4%</td>
            </tr>
            <tr>
              <td>Yield & Structured Strategies</td>
              <td>Access blended, risk-adjusted yield portfolios including structured products and hedge funds.**</td>
              <td>Medium - high</td>
              <td>5%-10%+</td>
            </tr>
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</section>

<section class="block call-to-action">
  <div class="container">
    <div class="w-100 call-to-action-inner p-4 p-lg-5 position-relative d-flex">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-12 col-lg-12 pe-xl-5 z-1" data-aos="fade-up" data-aos-duration="500">
            <h4 class="mb-3">YOUR TIME TO ENTER THE CIRCLE</h4>
            <p class="mb-4 text-light text-large">Your wealth deserves discretion, trust, and growth. <br>Experience the difference.</p>
            <div class="d-flex pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">JOIN THE BLACK CIRCLE</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 call-to-action-pic">
            <img src="{{ (resources.Get "images/call-to-action.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
            <img src="{{ (resources.Get "images/call-to-action-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
