{{ define "main" }}

<section class="block inner-hero-block position-relative">
  <!-- <div class="hero-bg">
  <img src="{{ (resources.Get "images/the-origin-hero-bg.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
</div> -->
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
        <div class="inner-hero-item px-lg-5 pt-lg-5">
          <h1 class="d-inline-block text-uppercase mb-4 pb-lg-2">Privacy Policy</h1>
          <!-- <p class="text-light mb-3"><strong>ALL INFORMATION DISPLAYED ON THIS WEBSITE IS AIMED EXCLUSIVELY AT
              PROFESSIONAL CLIENTS AND NOT INTENDED FOR RETAIL INVESTORS</strong></p>
          <div class="d-flex justify-content-center">
            <a href="https://en.adgm.thomsonreuters.com/rulebook/cobs-24-professional-clients" target="_blank"
              class="btn btn-primary">Learn More</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block text-light number-listing pt-0">
  <div class="container">
    <h2 class="h5"><strong>Important information</h2>
    <ol>
      <li><strong>Data controller</strong><br>This Privacy Policy, which may be modified or updated periodically (the
        "Privacy Policy"),
        outlines the way in which The Black Circle Wealth Management ("The Black Circle Wealth
        Management", "We", "Us", "Our") gathers, employs, preserves, and shares Personal Data while
        delivering Our services (the "Services"). The Black Circle Wealth Management acts as the Data
        Controller for your Personal Data.
      </li>
      <li> The Black Circle Wealth Management is an international business company incorporated in
        and pursuant to the laws of Commonwealth of Abu Dhabi Global Market (ADGM), Abu Dhabi,
        United Arab Emirates with registration number 209993 B.</li>
      <li> "ADGM Data Protection Regulations 2021" means Abu Dhabi Global Market (ADGM), Abu
        Dhabi, United Arab Emirates' ADGM Data Protection Regulations 2021 and the data protection
        and privacy laws of any other jurisdiction applicable to Our Services. </li>
      <li> "Personal Data" refers to information that enables someone to identify or contact you,
        including, for instance, your name, address, phone number, email address, an identification
        number, location data, an online identifier, or one or more elements specific to your physical,
        physiological, genetic, mental, financial, cultural, or social identity. </li>
      <li>"Processing" signifies any action or series of actions carried out on Personal Data, whether
        by automated means or not, such as collecting, recording, organizing, storing, modifying,
        altering, retrieving, consulting, using, disclosing through transmission, distributing, or making
        available in any other way, aligning or combining, blocking, erasing, or destroying. "Processed",
        "Processes", and "Process" shall be interpreted accordingly.</li>
      <li>"Services" means the services provided by The Black Circle Wealth Management.</li>
      <li><strong>Our obligations as Data Controller</strong><br>As the Data Controller, subject to the ADGM Data
        Protection Regulations 2021, We must
        guarantee that any Personal Data We Process are:
        <ol type="a">
          <li>Processed in a fair, lawful, and secure manner; </li>
          <li>used for specified, explicit, and legitimate purposes in compliance with the Data Subject's
            rights, and not further Processed in a manner incompatible with those purposes or rights;</li>
          <li>adequate, relevant and limited to the purposes for which they were gathered or further
            Processed;</li>
          <li>accurate and, if necessary, updated;</li>
          <li>stored in a format that allows Data Subjects' identification for a duration no longer than
            necessary for the purposes of collecting or further Processing the Personal Data; and</li>
          <li>Processed in a manner that ensures appropriate security of the Personal Data.</li>
        </ol>
      </li>
      <li> We are also obligated to ensure that Personal Data that is inaccurate or incomplete,
        considering the purposes for which they were collected or further Processed, be erased or
        corrected.</li>
      <li><strong>Data Protection Contact ("DPC")</strong><br>You may contact Our DPC by email at
        legal@theblackcircle.com</li>
      <li><strong>Additional Supervisory Authorities</strong><br><a target="_blank"
          href="https://ico.org.uk/">www.ico.org.uk</a> While We are located in and operate from
        Abu Dhabi Global Market (ADGM), Abu
        Dhabi, United Arab Emirates, We provide Our Services worldwide. As a result, We must also
        adhere to compliance requirements concerning the Processing of Personal Data in jurisdictions
        other than Abu Dhabi Global Market (ADGM), Abu Dhabi, United Arab Emirates. For instance, if
        you are situated within the European Union or European Economic Area, you may have the right
        to file a complaint at any time with the ADGM Office of Data Protection (ODP) for matters under
        ADGM regulations; EU/UK supervisory bodies may apply where relevant</li>
    </ol>
    <h2><strong>Modifications to this Privacy Policy</strong></h2>
    <p>We may update this Privacy Policy to reflect changes in legislation, Our practices regarding
      Personal Data collection and usage, the Site's features, or technological advancements. If
      significant changes are made to this Privacy Policy, they will be prominently displayed on our
      website.</p>
    <h2 class="h5"><strong>What information do we gather? </strong></h2>
    <ol>
      <li>We collect and Process Personal Data as outlined below.
        <ol>
          <li>We may gather Personal Data from you, such as:
            <ol type="a">
              <li>Full name;</li>
              <li>Home address;</li>
              <li>Contact information (phone number, email address);</li>
              <li>Birthdate and location, citizenship place, country of residence;</li>
              <li>Bank account details and/or credit card information;</li>
              <li>Your status as a politically exposed person;</li>
              <li>Source of funds & proof of residence;</li>
              <li>Passport and/or national driver's license or government-issued ID card for identity verification;</li>
              <li>Second nationality and Passport, if relevant;</li>
              <li>Selfie;</li>
              <li>Transaction history and account balances related to your use of Our Services.</li>
            </ol>
          </li>
          <li>We gather information about the device you use to access your account, including
            hardware model, operating system and version, and unique device identifiers.</li>
          <li>We record technical data about your usage of the Services, such as browser type and
            version, wallet identifier, wallet's last access time, the IP address used to create the wallet, and
            the most recent IP address used to access the wallet.</li>
          <li>We may also obtain other Personal Data from third-party identity verification, market
            surveillance providers, sanctions screening services, service providers, regulators, or social
            networking sites.</li>
          <li>In relation to Our Services, We may collect and maintain information about transactions
            you conduct in your wallet.</li>
          <li>If you create a wallet through Our Services, you will generate a public and private key pair.
            We collect an encrypted file upon logging out of the wallet, which, if decrypted, would contain
            these keys and your transaction history. If you enable notifications in your Account Settings, We
            will collect the unencrypted public key to provide such notifications. We will not collect an
            unencrypted private key from you, nor can We decrypt any wallet file data.</li>
        </ol>
      </li>
      <li>If you give Us feedback or contact Us via email, We will collect your name and email
        address, as well as any other content included in the email, in order to send you a response.
        <ol>
          <li>We may collect referral URLs, your location, and blockchain analytics data related to
            blockchain addresses you supply. Some Personal Data used by the blockchain and Virtual Asset
            exchange services is public and can be viewed by others, including your public address and the
            type and amount of digital assets transferred. Furthermore, certain technologies, like
            blockchain, are immutable, meaning information, including Personal Data, cannot be removed
            from the ledger. If you have concerns about this use of your Personal Data, refrain from using
            the Services.</li>
          <li>We also gather other types of Personal Data that you voluntarily provide to Us when
            seeking support and other Services, such as email, chat name and logs, information submitted
            through online forms, video conferencing service information, other contact information, or
            other information provided to support services personnel.</li>
        </ol>
      </li>
      <li>
        Information automatically collected by Our servers:
        <ol>
          <li>We gather certain information automatically, store it in log files, which includes IP
            addresses, browser type, Internet service provider (“ISP”), referring/exit pages, operating
            system, date/time stamp, and clickstream data.</li>
          <li>We use cookies to collect information. “Cookies” are small pieces of information that a
            website sends to your computer's hard drive while you are viewing the website.</li>
          <li>We retain information on your behalf, such as transactional data including records for
            trades, deposits, and withdrawals for you and the counterparty to the transaction, and other
            session data linked to your Account.</li>
        </ol>
      </li>
      <li><strong>Information collected from third parties:</strong><br>
        We may obtain Personal Data about you from other sources, including through third-party
        services like sanctions screening services and other organizations to supplement the
        information you provide to Us. This additional information allows Us to verify the information
        you have given Us and to enhance Our ability to provide you with information about Our
        business, products, and Services.
      </li>
      <li><strong>Failure to provide Personal Data</strong><br>
        Where We need to collect Personal Data by law, or under the terms of a contract We have with
        you and you fail to provide that data when requested, We may not be able to perform the
        contract We have or are trying to enter with you. In this case, We may have to close your
        Account but We will notify you if this is the case at the time.
      </li>
    </ol>
    <h2 class="h5"><strong>Legal basis for collecting and processing personal data</strong></h2>
    <ol>
      <li>To create and secure an Account and access Our Services, you need to give Us Personal
        Data about yourself or other individuals. You may also give Us Personal Data about yourself or
        other individuals to help Us provide or improve the Services you have requested from Us.</li>
      <li>We can only Process and use your Personal Data under ADGM Data Protection Regulations
        2021 if We have a lawful basis to do so. We will use Personal Data when one or more of the
        following lawful bases apply:
        <ol>
          <li>Processing is necessary for the performance of a task carried out in the interests of the
            Abu Dhabi Global Market (ADGM), Abu Dhabi, United Arab Emirates regulator, the Board's, the
            Court's, or the regulator's functions or powers vested in the Data Controller or a Third Party to
            whom the Personal Data are disclosed;</li>
          <li>Processing is required for the performance of a contract to which you are a party or to take
            steps at your request before entering into a contract;</li>
          <li>You or the relevant Data Subject have given written consent to the Processing of that
            Personal Data as applicable;</li>
          <li>Processing is necessary for compliance with any regulatory or legal obligation to which We
            are subject as Data Controller;</li>
          <li>Processing is necessary for the legitimate interests pursued by Us as Data Controller or by
            a Third Party to whom the Personal Data are disclosed, except when such interests are
            overridden by compelling legitimate interests of the Data Subject relating to the Data Subject's
            particular situation;</li>
        </ol>
      </li>
      <li>Note that where Processing is based upon your consent, then you have the right to withdraw
        that consent at any time, although the lawfulness of any Procesing based upon consent prior to
        that withdrawal will not be affected by your withdrawal of that consent.
        <ol type="a">
          <li>"legitimate interest" is when We have a business or commercial reason to use your
            Personal Data, provided that this is not overridden by your own rights and interests. We will
            consider and balance any potential impact on you (both positive and negative) and your rights
            before We Process your Personal Data for Our legitimate interests.
          </li>
        </ol>
      </li>
      <li><strong>Sensitive Personal Data and conditions for processing</strong><br>Personal Data revealing or
        concerning (directly or indirectly) is considered Sensitive Personal
        Data. We will only Process Sensitive Personal Data when: </li>
      <li>Personal Data revealing or concerning (directly or indirectly) is considered Sensitive Personal
        Data. We will only Process Sensitive Personal Data when:
        <ol>
          <li>Processing is necessary for carrying out the obligations and specific rights of the Data
            Controller;</li>
          <li>The Data Subject has given additional written consent to the Processing of this type of
            Personal Data;</li>
          <li>Processing relates to Personal Data which are manifestly made public by the Data
            Subject, or is necessary for the establishment, exercise, or defense of legal claims;</li>
          <li>Processing is necessary for compliance with any regulatory or legal obligation to which the
            Data Controller is subject;</li>
          <li>Processing is necessary to uphold the legitimate interests of the Data Controller
            recognized in the international financial markets, provided the Processing is undertaken
            following applicable standards and except when such interests are overridden by compelling
            legitimate interests of the Data Subject relating to the Data Subject's particular situation;</li>
          <li>Processing is necessary to comply with any regulatory, auditing, accounting, anti-money
            laundering, or counter-terrorist financing obligations that apply to a Data Controller or for the
            prevention or detection of any crime.</li>
        </ol>
      </li>
    </ol>
    <h2 class="h5"><strong>How is the collected information utilized?</strong></h2>
    <ol>
      <li>Be aware that we may process your Personal Data without your knowledge or consent when
        the law requires or allows us to do so.</li>
      <li>Generally, the Personal Data you provide us is used to address your requests or to help us
        serve you better. Your Personal Data is used for the following purposes:
        <ol>
          <li>to identify you and perform identity verification via a service provider;</li>
          <li>to send a welcome email verifying the email address provided during account creation;</li>
          <li>to enable and secure your account creation;</li>
          <li>to enhance our Site and Services administration;</li>
          <li>to send administrative email notifications, such as account activity, transaction
            processing, security updates, or support and maintenance advisories;</li>
          <li>to improve your interaction experience with our Site and Services;</li>
          <li>to identify, prevent, and report potentially suspicious, fraudulent, or illegal activities;</li>
          <li>to inform you of significant changes to our Client Agreement; and</li>
          <li>to address your inquiries or other requests.</li>
        </ol>
      </li>
      <li>We may generate aggregated or de-identified records from Personal Data by omitting
        information (like your name) that renders the data personally identifiable to you. This is used to
        examine request and usage patterns, enabling us to enrich our Services' content and enhance
        Site navigation. We reserve the right to utilize and disclose aggregated and other de-identified
        information for any purpose, as well as to disclose it to third parties at our sole discretion.</li>
      <li>We employ IP addresses to improve our Site and Services and to perform identity
        verification.</li>
      <li>Data collected automatically will be utilized for administering or enhancing our Services and
        for other lawful purposes.</li>
      <li>We use log file information to analyze trends, manage the Site, monitor users' movements
        on the Site, gather demographic data about our user base, and tailor our Services to users'
        needs more effectively. Except as stated in this Privacy Statement, we do not link this
        automatically-collected data to Personal Data.</li>
    </ol>
    <h2 class="h5"><strong>Marketing</strong></h2>
    <ol>
      <li>We might offer you choices regarding the use of certain Personal Data, primarily related to
        marketing and advertising, subject to these Personal Data control mechanisms:
        <ol>
          <li>Our promotional offers: We may utilize your Personal Data to determine your interests
            according to the applicable law. This helps us identify relevant products, services, and offers for
            you.</li>
          <li>Marketing by third parties: Following the applicable law, we may seek your explicit consent
            (opt-in) before sharing your Personal Data with any external company for their independent
            marketing purposes.</li>
          <li>Opting out: In all cases (i.e., whether you opt-in to receipt of marketing, or whether we rely
            upon legitimate interests to provide you with marketing materia), you can request that we or
            third parties cease sending you marketing messages at any time by clicking the opt-out links in
            any marketing message or by contacting our our support team at legal@theblackcircle.com</li>
        </ol>
      </li>
    </ol>
    <h2 class="h5"><strong>How is your Personal Data shared by us?</strong></h2>
    <ol>
      <li>We disclose your Personal Data as outlined below and elsewhere in this Privacy Statement.
        <ol>
          <li>Your Personal Data may need to be disclosed to law enforcement agencies, regulators,
            government/public officials, or other relevant third parties to comply with laws, subpoenas,
            court orders, or government requests, defend against claims, investigate or initiate legal action
            against potentially illegal or suspected illegal activities, enforce our Terms, or protect the safety,
            rights, and security of us, our users, or the public.</li>
          <li>We may share Personal Data with our affiliated companies.</li>
          <li>To provide you with the Services available through our Site, we may share your Personal
            Data with third-party service providers; for conducting quality assurance testing; for account
            creation assistance; for technical support; for identity verification; and/or for rendering other
            services to us. These third-party service providers are obligated not to use your Personal Data
            for purposes other than providing the services requested by us.</li>
          <li>We may share Personal Data with business partners with whom we offer joint products or
            services, as permitted by law. In these cases, our business partner's name will be displayed
            alongside ours.</li>
          <li>In connection with or during negotiations of any merger, financing, acquisition, or
            dissolution transaction, or proceeding involving the sale, transfer, divestiture, or disclosure of all
            or part of our business or assets, we may share some or all of your Personal Data with third
            parties. Personal Data may also be transferred as a business asset in the case of insolvency,
            bankruptcy, or receivership. If another company acquires our company, business, or assets,
            that company will possess the Personal Data collected by us and will assume the rights and
            obligations regarding your Personal Data as described in this Privacy Statement.</li>
          <li>Our Site may include links to third-party websites, which are governed by their respective
            privacy policies. We are not responsible for the privacy policies of these third-party websites,
            even if they were accessed using the links from our Site.</li>
        </ol>
      </li>
      <li>Except as stated in this Privacy Statement, we do not disclose any of your Personal Data to
        third parties unless required by law enforcement, court order, or to comply with legal reporting
        obligations.</li>
    </ol>
    <h2 class="h5"><strong>Transfers outside The Abu Dhabi Global Market (ADGM), Abu Dhabi, United Arab
        Emirates</strong></h2>
    <ol>
      <li>Your Personal Data may be shared within our affiliated group of companies, which are
        located in various global locations. This might involve transferring your Personal Data outside
        of the Abu Dhabi Global Market (ADGM), Abu Dhabi, United Arab Emirates.</li>
      <li>Furthermore, many of our external third parties are also located outside the Abu Dhabi
        Global Market (ADGM), Abu Dhabi, United Arab Emirates, so their processing of your Personal
        Data will involve data transfers outside of the Abu Dhabi Global Market (ADGM), Abu Dhabi,
        United Arab Emirates.</li>
      <li>When transferring your Personal Data out of the Abu Dhabi Global Market (ADGM), Abu
        Dhabi, United Arab Emirates, we ensure that it is afforded a similar level of protection by
        implementing appropriate safeguards as required by applicable ADGM Data Protection
        Regulations 2021.</li>
      <li>For further information on the specific mechanism used by us when transferring your
        Personal Data out of the Abu Dhabi Global Market (ADGM), Abu Dhabi, United Arab Emirates,
        please contact our DPC at or our support team at.</li>
    </ol>
    <h2 class="h5"><strong>Transfers outside the EEA for European-based individuals</strong></h2>
    <ol>
      <li>We share your Personal Data within our affiliated group of companies, which are situated in
        various global locations. If you are based in Europe, this involves transferring your data outside
        the European Economic Area (EEA).</li>
      <li>Additionally, many of our external third parties are located outside the EEA, so their
        processing of your Personal Data will involve data transfers outside the EEA. We ensure a
        similar degree of protection is provided to your Personal Data when transferred out of the EEA by
        implementing appropriate safeguards, as required by applicable law.</li>
      <li>Please contact us if you would like more information on the specific mechanism used by us
        when transferring your Personal Data out of the EEA.</li>
    </ol>
    <h2 class="h5"><strong>Updating your information</strong></h2>
    <p>To update your information, please contact our support team at <a
        href="mailto:legal@theblackcircle.com">legal@theblackcircle.com</a> with
      your request.</p>
    <h2 class="h5"><strong>Retention of your information</strong></h2>
    <ol>
      <li>We retain your Personal Data for as long as it is needed for the purposes outlined in this
        Privacy Statement. The retention period will vary depending on the nature of the information and
        your interactions with our Site and Services. We will retain your information as long as your
        Account remains open or as needed to provide you access to your Account.</li>
      <li>If you unsubscribe from our marketing communications, we will maintain a record of your
        email address to ensure we do not send you marketing emails in the future.</li>
      <li>After closing your Account, we will retain and use your information as necessary to comply
        with our legal obligations, resolve disputes, and enforce our Terms. For example, we keep a
        record of transactions on our site for up to seven years to protect us from legal claims, and we
        will retain information associated with your Account for up to seven years after it has been
        closed, unless there are other legal needs to retain it for a longer period.</li>
    </ol>
    <h2 class="h5"><strong>Usage of cookies, social media, advertising, and other technologies</strong></h2>
    <ol>
      <li>To enhance your experience on our Site and track how the Services are used, we collect
        web browser information. Cookies are small data files stored on your computer's hard drive,
        and in addition to using cookies to provide a better user experience, we use cookies to identify
        and prevent fraudulent activity. The collected information can include, but is not limited to, your
        IP address, referral URLs, the type of device you use, your operating system, the type of browser
        you use, geographic location, and other session data. Cookies are not permanent and will expire
        after a short period of inactivity. You may choose to deactivate your cookies, but be aware that
        you might not be able to access or use some features of our site. Please note that we are not
        responsible or liable for any loss resulting from your decision or inability to use such features.</li>
      <li>We may also employ third-party service providers to collect information regarding visitor
        behaviour and demographics on our Services.</li>
      <li>Our Services may include public blockchain technology, publicly accessible blogs, forums,
        social media pages, and private messaging features. As such, the Personal Data you provide
        may be viewed and used by third parties for various purposes. Additionally, social media
        buttons such as Twitter (which might include widgets like the "share this" button) may be
        present on our Site. These features may collect your IP address, the page you are visiting on our
        site, and may set a cookie to enable the feature to function properly. These social media
        features are either hosted by a third party or directly on our site. Your interactions with these
        features, aside from your visit to our site, are governed by the privacy policy of the company
        providing them.</li>
      <li>We may use third-party application program interfaces (APIs) and software development
        kits (SDKs) as part of our Services' functionality. APIs and SDKs may allow third parties,
        including analytics and advertising partners, to collect your Personal Data for various purposes,
        including providing analytics services and more relevant content. For more information about
        our use of APIs and SDKs, please contact us.</li>
      <li>At this time, we do not respond to Do Not Track (DNT) signals, an optional browser setting
        that allows you to express your preferences regarding tracking by advertisers and other third
        parties.</li>
    </ol>
    <h2 class="h5"><strong>Security measures taken by us</strong></h2>
    <ol>
      <li>We take the protection of your Personal Data seriously and implement appropriate
        physical, technological, and organizational safeguards and security measures. We employ
        industry-standard data encryption technology and have instituted restrictions related to the
        storage of and access to your Personal Data.</li>
      <li>We require sufficient guarantees from any third party processing your Personal Data on our
        behalf, in respect of the technical security measures and organizational measures governing the
        processing to be carried out. We also ensure compliance with those measures.</li>
      <li>Please be aware that no method of electronic storage or transmission over the internet can
        be guaranteed to be 100% secure.</li>
    </ol>
    <h2 class="h5"><strong>Your legal rights</strong></h2>
    <ol>
      <li>Under certain circumstances, you have rights under data protection laws in relation to your
        Personal Data, as detailed below:
        <ol>
          <li>Right to access, rectify, erase, or restrict the Processing of, your Personal Data:
            Upon written request and at reasonable intervals, you have the right to require and obtain from
            us without excessive delay or expense:
            <ol type="a">
              <li>written confirmation as to whether or not Personal Data relating to you are being Processed,
                including at least the purposes of the Processing, the categories of Personal Data involved, and
                the Recipients or categories of Recipients to whom the Personal Data are disclosed;</li>
              <li>an intelligible form of the Personal Data undergoing Processing and any available
                information regarding their source; and</li>
              <li>when appropriate, the rectification, erasure, or restriction of Processsing of Personal Data
                that does not comply with these Regulations.</li>
            </ol>
          </li>
          <li>Right to object to Processing:
            <br>You have the right:
            <ol type="a">
              <li>to object, at any time on reasonable grounds relating to your specific situation, to the
                Processing of Personal Data concerning you; and</li>
              <li>to be informed before Personal Data are disclosed for the first time to Third Parties or used
                on their behalf for direct marketing purposes, and to be explicitly offered the right to object to
                such disclosures or uses. If there is a justified objection, the Processing shall no longer include
                those Personal Data.</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>To exercise any of the rights mentioned above, please contact us.</li>
      <li>Accessing your Personal Data (or exercising any of your other rights) will not require a fee.
        However, we may charge a reasonable fee for requests that are clearly unfounded, repetitive, or
        excessive. In such cases, we may also refuse to comply with your request.</li>
    </ol>
    <h2 class="h5"><strong>Information we may require from you</strong></h2>
    <p>To confirm your identity and ensure your rights to access your Personal Data (or exercise any of
      your other rights), we may need to request specific information from you. This security measure
      ensures that Personal Data is not disclosed to anyone without the right to receive it. We may
      also contact you for additional information in relation to your request to expedite our response.</p>
    <h2 class="h5"><strong>Response time</strong></h2>
    <p>We aim to respond to all legitimate requests within 40 days.</p>
    <h2 class="h5"><strong>Children's privacy</strong></h2>
    <p>We do not knowingly collect or solicit information from individuals under 18 years old. If we
      become aware that someone under 18 has provided us with Personal Data, we will promptly
      delete it.</p>
    <h2 class="h5"><strong>Inquiries and complaints</strong></h2>
    <ol>
      <li>For any questions about this Privacy Policy, the collection, use, and disclosure of Personal
        Data by us, or access to your Personal Data as required by law, please direct your inquiries
        to legal@theblackcircle.com</li>
      <li>If you wish to file a complaint about how we Process your Personal Data, please contact us
        initially at , and we will attempt to address your request as soon as possible. This is without
        prejudice to your right to launch a claim with the data protection supervisory authority in the
        country where you live or work if you believe we have violated ADGM Data Protection
        Regulations 2021.</li>
    </ol>
  </div>
</section>

{{ end }}