{{ define "main" }}

<section class="block inner-hero-block position-relative">
  <!-- <div class="hero-bg">
  <img src="{{ (resources.Get "images/the-origin-hero-bg.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
</div> -->
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
        <div class="inner-hero-item px-lg-5 pt-lg-5">
          <h1 class="d-inline-block text-uppercase mb-4 pb-lg-2">الشروط والأحكام</h1>
          <p class="text-light mb-3"><strong>جميع المعلومات المعروضة على هذا الموقع موجّهة حصرياً إلى العملاء المهنيين
              وغير مخصّصة للمستثمرين الأفراد. </strong></p>
          <div class="d-flex justify-content-center">
            <a href="https://en.adgm.thomsonreuters.com/rulebook/cobs-24-professional-clients" target="_blank"
              class="btn btn-primary">اعرف المزيد </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block text-light">
  <div class="container">
    <h2><strong>شروط استخدام الموقع وإخلاء المسؤولية</h2>
    <strong>الأحكام العامة</strong>
    <ol>
      <li>تحكم الشروط والأحكام الواردة في هذا الإخلاء وشروط الاستخدام ("إخلاء المسؤولية") في استخدامك لموقعنا الإلكتروني
        ("الموقع").</li>
      <li>يشكّل استخدامك لهذا الموقع موافقة منك على الالتزام بالشروط والأحكام الواردة في هذا الإخلاء، بالإضافة إلى سياسة
        الخصوصية التي تُعد جزءاً لا يتجزأ من هذا الإخلاء بينك وبين شركة The Black Circle SPV Limited، وهي شركة ذات غرض
        خاص ("ذا بلاك سيركل")، مسجّلة في سوق أبوظبي العالمي (“ADGM”) في دولة الإمارات العربية المتحدة. تُدار ذا بلاك
        سيركل بواسطة شركة Oros Asset Management Limited ، المسجّلة لدى سوق أبوظبي العالمي تحت رقم 000009278، والمرخّصة
        والمعتمدة من قِبل سلطة تنظيم الخدمات المالية (“FSRA”) بموجب تصريح الخدمات المالية رقم 220084 لتقديم خدمات إدارة
        الأصول، وإدارة صناديق الاستثمار الجماعي، وتقديم المشورة بشأن الاستثمارات، وتقديم المشورة بشأن الائتمان، وترتيب
        الصفقات في الاستثمارات، وترتيب الائتمان ("المدير").</li>
      <li>يجوز تعديل هذا الإخلاء من وقت لآخر. أنت تقر وتتعهد بأنك تبلغ السن القانوني الذي يتيح لك استخدام الخدمات
        المذكورة. ولا يجوز لك قبول هذا الإخلاء إذا لم تكن بالسن القانوني لإبرام عقد مُلزِم مع ذا بلاك سيركل والمدير، إلا
        إذا قمت عن قصد بتقديم معلومات مضلّلة تفيد بكونك بالسن القانوني مع علمك بخلاف ذلك. وبقبولك لهذا الإخلاء، فإنك تقر
        بأن لديك الأهلية القانونية للالتزام به، أو أنك، في حال كنت تمثل شركة أو كيان قانوني acting، بأنك مخوّل قانونياً
        بربط تلك الجهة بهذه الشروط. يجوز لك طباعة أو حفظ نسخة من هذا الإخلاء لسجلاتك.</li>
      <li>تحتفظ ذا بلاك سيركل صراحةً بالحق في تعديل هذا الإخلاء والموقع ومحتوياته. وتُصبح أي تعديلات على هذا الإخلاء
        نافذة فور نشر النص المعدّل أو المحتوى أو أي معلومات أخرى على هذا الموقع.</li>
      <li>يخضع هذا الإخلاء وأي التزامات ناشئة عنه أو مرتبطة به لقوانين سوق أبوظبي العالمي في دولة الإمارات العربية
        المتحدة، ويتم تفسيره وفقاً لها. ويخضع أي نزاع ينشأ عن هذا الإخلاء أو يتعلق به للاختصاص القضائي الحصري لمحاكم سوق
        أبوظبي العالمي.</li>
    </ol>
    <strong>حقوق الملكية الفكرية</strong>
    <ol>
      <li>تقوم ذا بلاك سيركل بإدارة هذا الموقع لتوفير وصول مباشر إلى معلوماتها ووثائقها وبياناتها وموادها ("المواد")
        للمستخدمين الذين يختارون الدخول إلى هذا الموقع واستخدامه. وتُدير ذا بلاك سيركل هذا الموقع بهدف تقديم معلومات
        عامة حول أنشطتها وخدمات المدير.</li>
      <li>ما لم يُذكر خلاف ذلك، تمتلك ذا بلاك سيركل حقوق النشر والعلامات التجارية، وأي حقوق ملكية فكرية أخرى، إضافة إلى
        جميع الحقوق والمنافع والمصالح المتعلقة بالمواد.</li>
      <li>يجوز لك استخدام ونسخ وطباعة وتنزيل مقتطفات من هذا الموقع وفقاً للشروط التالية:
        <ol>
          <li>يجوز استخدام المواد الموجودة على هذا الموقع لأغراض شخصية فقط أو للاستخدام الداخلي ضمن شركة أو مؤسسة. وأي
            مواد تقوم بنسخها أو حفظها يجب استخدامها فقط لأغراض العرض الشخصي أو العرض الداخلي ضمن الشركة أو المؤسسة التي
            تم نسخها أو حفظها من قبلها.</li>
          <li>لا يجوز لك أو لشركتك أو مؤسستك إعادة إنتاج المواد الموجودة على هذا الموقع بأي شكل أو طريقة أو على أي منصة
            أو منتدى عام دون الحصول على موافقة خطية صريحة مسبقة من ذا بلاك سيركل. </li>
          <li>لا يجوز توزيع الصفحات التي تم حفظها أو تخزينها أو المقتطفات المطبوعة على أطراف ثالثة أو على العامة، أو
            إعادة طباعتها إلكترونياً أو بأي شكل آخر، كلياً أو جزئياً، سواء لتحقيق ربح أو بدون ربح، (مع استثناء الحالة
            الواردة في الفقرة أدناه)</li>
          <li>الاستثناء الوحيد المسموح به للشروط العامة المذكورة في الفقرات (i) إلى (iii) أعلاه هو نسخ مقتطفات محدودة أو
            ملخصات للمواد لتقديمها للمهنيين أو الأطراف الثالثة بغرض الحصول على استشارات مهنية.</li>
        </ol>
      </li>
      <li>c. لا يجوز لك بأي حال من الأحوال إعادة إنتاج أو تخزين أي من المواد الموجودة في هذا الموقع في أي موقع إلكتروني
        آخر أو تضمينها في أي نظام أو خدمة لاسترجاع المعلومات، سواء كان عاماً أو خاصاً، دون إذن خطي مسبق من ذا بلاك
        سيركل.</li>
      <li>ولا يجوز لك استخدام اسم ذا بلاك سيركل أو علاماتها التجارية أو شعارها أو رسوماتها في أي إعلان أو بيان عام أو أي
        شكل من أشكال المعلومات أو الوثائق أو السجلات أو الاتصالات (بأي شكل كان) دون موافقة خطية مسبقة من ذا بلاك سيركل.
        كما أن "شكل ومظهر" الموقع (بما في ذلك، على سبيل المثال لا الحصر: النصوص والرسومات والصور والشعارات وأيقونات
        الأزرار)، والصور، والمحتوى التحريري، والإشعارات، والبرمجيات (بما في ذلك البرامج المعتمدة على HTML، وغيرها من
        المواد، محمية بموجب قوانين الملكية الفكرية المعمول بها. وتعود ملكية محتوى الموقع إلى ذا بلاك سيركل أو إلى الجهات
        التي تمنحها التراخيص من موردي البرمجيات أو المحتوى.</li>
      <li>تمنحك ذا بلاك سيركل حق عرض واستخدام الموقع وفقاً لهذه الشروط.</li>
    </ol>
    <strong>إخلاء المسؤولية</strong>
    <ol>
      <li>إن المواد الواردة في هذا الموقع مقدمة لأغراض المعلومات العامة فقط فيما يتعلق بـ ذا بلاك سيركل. وعلى الرغم من
        سعي ذا بلاك سيركل للحفاظ على دقة المواد، فإن ذا بلاك سيركل لا تقدم أي تعهدات أو ضمانات من أي نوع، صريحة كانت أو
        ضمنية، بخصوص ما يلي:
        <ol>
          <li>اكتمال أو دقة أو موثوقية أو حداثة أو ملاءمة أو توفر محتوى هذا الموقع، بما في ذلك على سبيل المثال لا الحصر
            المواد الواردة فيه؛</li>
          <li>عدم انتهاك المحتوى لأي حقوق، أو صحة الملكية، أو ملاءمته لأي غرض معين، بما في ذلك المواد الواردة في هذا
            الموقع؛ أو</li>
          <li>أن المحتوى المتاح عبر هذا الموقع أو أي من وظائفه سيكون بلا انقطاع أو خالياً من الأخطاء، أو أن أي عيوب
            سيتم تصحيحها، أو أن هذا الموقع وخادمه سيكونان خاليين من الفيروسات أو أي عناصر ضارة أخرى.</li>
        </ol>
      </li>
      <li>لا تتحمل ذا بلاك سيركل أي مسؤولية عن أي أضرار أو خسائر أو مطالبات من أي نوع، سواء كانت ناشئة عن عقد أو خطأ
        تقصيري أو غير ذلك، بما في ذلك على سبيل المثال لا الحصر الأضرار غير المباشرة أو التبعية أو الخاصة من أي نوع، أو
        خسارة الأعمال أو الأرباح، أياً كانت أسبابها، سواء كانت ناتجة عن أو مرتبطة (بشكل مباشر أو غير مباشر) بما يلي:
        <ol>
          <li>استخدام هذا الموقع؛</li>
          <li>الاعتماد على محتوى هذا الموقع أو المواد الموجودة فيه؛</li>
          <li>أي خطأ أو سهو أو عيب في محتوى هذا الموقع؛</li>
          <li>أي إجراء أو امتناع عن إجراء أو قرار تم اتخاذه نتيجة لاستخدام هذا الموقع أو أي معلومات واردة فيه؛ أو</li>
          <li>أي وظيفة مرتبطة بهذا الموقع أو أي فيروسات أو عناصر ضارة أخرى.</li>
        </ol>
      </li>
      <li>قد تحتوي بعض أجزاء هذا الموقع على معلومات مقدمة من أطراف ثالثة. وتكون هذه الأطراف وحدها مسؤولة عن ضمان دقة
        واكتمال وحداثة المعلومات التي تقدمها، وعن التزامها بجميع القوانين واللوائح المعمول بها. ولا تتحمل ذا بلاك سيركل
        أي مسؤولية بأي شكل من الأشكال عن أي معلومات يقدمها أي طرف ثالث على هذا الموقع.</li>
      <li>المعلومات المتاحة على هذا الموقع ليست، ولا يجب الاعتماد عليها بأي شكل من الأشكال، بوصفها نصيحة قانونية أو
        مالية أو ضريبية أو استثمارية أو مهنية من أي نوع. وعلى الرغم من أن الموقع قد يوفر بيانات أو معلومات أو محتوى
        يتعلق باستراتيجيات الاستثمار و/أو فرص شراء و/أو بيع الأوراق المالية، إلا أنه لا يجوز لك اعتبار أي من هذا المحتوى
        نصيحة ضريبية أو قانونية أو مالية أو استثمارية أو مهنية. ويجب عليك استشارة مستشارين مهنيين مختصين إذا كنت بحاجة
        إلى نصيحة مالية أو مهنية محددة.</li>
      <li>لا توجد معايير أداء محددة لموقع ذا بلاك سيركل. ويُقدم المحتوى وكافة خدمات ذا بلاك سيركل المرتبطة بالموقع أو
        المقدمة من خلاله على أساس “كما هو” و“وفقاً لتوفره" . </li>
      <li>لا يُعد أي من المعلومات المعروضة على الموقع أو القابلة للتنزيل منه عرضاً لشراء أو بيع، أو دعوة لتقديم عرض
        لشراء أو بيع أي ورقة مالية أو أصل افتراضي، ولا يشكل عرضاً لتقديم أي خدمات مالية. </li>
      <li>المعلومات الواردة في نشرات ذا بلاك سيركل ومقالاتها قد جُمعت أو استُمدت من مصادر متاحة للعامة، ولا يجوز اعتبار
        أي مما ورد فيها توصية بشراء أو بيع أو الاحتفاظ بأي ورقة مالية أو أصل افتراضي، أو الدخول في أي منتجات أو خدمات
        مالية.</li>
    </ol>

    <strong>معلوماتك</strong>

    &nbsp;
    <ol>
      <li>أي معلومات تقدمها أنت أو أي بيانات يتم إنتاجها نتيجة نشاطك على الموقع ستكون متاحة لدى ذا بلاك سيركل بهدف
        مساعدتك في الخدمات التي يقدمها المدير والمتصلة بذا بلاك سيركل، ما لم يكن ذلك محظوراً بموجب أي قانون أو لائحة أو
        تنظيم معمول به. وتقر وتفهم أنك المسؤول عن الحفاظ على سرية كلمات المرور الخاصة بك، ومعرفاتك الفريدة، وبياناتك
        الشخصية التي تتيح لك الوصول إلى أي من الخدمات عبر الموقع.</li>
      <li>من خلال تزويد ذا بلاك سيركل بعنوان بريدك الإلكتروني، فإنك توافق على تلقي جميع الإشعارات والمراسلات والاشتراكات
        الخاصة بنشرة ذا بلاك سيركل عبر البريد الإلكتروني المرسل إلى العنوان الذي زودت به. ويقع على عاتقك مسؤولية تحديث
        أو تغيير هذا العنوان عند الحاجة. وقد تكون هذه المراسلات بصيغة HTML أو بصيغة نصية عادية إذا كان نظامك لا يدعم
        HTML، إما في نص البريد الإلكتروني أو من خلال رابط لصفحة ذات صلة على الموقع، ويمكن الوصول إليها عبر أغلب
        المتصفحات التجارية المتاحة. وفي حال علمت بأي استخدام غير مصرح به لمعلومات تسجيلك، فإنك توافق على إخطار ذا بلاك
        سيركل فوراً.</li>
    </ol>
    <strong>الروابط في هذا الموقع إلى مواقع إلكترونية أخرى</strong>
    <ol>
      <li>يوفر هذا الموقع روابط، مثل الارتباطات التشعبية أو الأزرار، تتيح لك الوصول إلى مواقع إلكترونية تابعة لأطراف
        ثالثة، مما يمكنّك من مغادرة هذا الموقع أو فتح نافذة جديدة إلى موقع الطرف الثالث. ولا تتحكم ذا بلاك سيركل في هذه
        المواقع المرتبطة ولا تقوم بمراقبتها، ولا تتحمل أي مسؤولية عن أي مواد أو معلومات أو محتوى منشور فيها. ولا تتحمل
        ذا بلاك سيركل أي مسؤولية عن توفر المواقع المرتبطة أو أي تغييرات أو تحديثات تطرأ عليها، أو أي وظائف مرتبطة بها،
        أو أي فيروسات أو عناصر ضارة ناتجة عنها أو متصلة بها.</li>
      <li>لا يعني إدراج روابط لمواقع تابعة لأطراف ثالثة على هذا الموقع وجود أي علاقة أو ارتباط بين ذا بلاك سيركل ومالك
        الموقع المرتبط، كما لا يُعد ذلك تأييداً أو رعاية أو موافقة من ذا بلاك سيركل على ذلك الموقع أو محتواه. وتقدم ذا
        بلاك سيركل هذه الروابط لمواقع الأطراف الثالثة فقط لتسهيل الأمر عليك، وعلى أساس عدم الاعتماد عليها، وتتحمل وحدك
        كامل المخاطر المتعلقة باستخدامها. وأنت وحدك المسؤول عن وصولك إلى أي موقع مرتبط. ويجب عليك استخدام حكمك الشخصي
        وتوخي الحذر والتحلي بالفطنة عند استخدام أي موقع مرتبط، كما ينبغي عليك الاطلاع على سياسة الخصوصية وشروط الاستخدام
        لكل موقع. ولا تتحمل ذا بلاك سيركل أي مسؤولية من أي نوع عن أي سياسة أو شروط استخدام لأي موقع مرتبط.</li>
      <li>قد تستخدم المواقع المرتبطة بأطراف ثالثة أدوات لقياس استخدام الويب وتقنيات التخصيص وملفات تعريف الارتباط
        (Cookies) .لا تتحمل ذا بلاك سيركل أي مسؤولية عن ممارسات الخصوصية أو محتوى المواقع الأخرى، ولا تستخدم أو تشارك أو
        تحتفظ بأي معلومات شخصية يتم جمعها من خلال مواقع أخرى.</li>
    </ol>
    <strong>الروابط من مواقع أخرى إلى هذا الموقع</strong>
    <ol>
      <li>باستثناء ما هو منصوص عليه أدناه، يُحظر وضع روابط أو تخزين صفحات هذا الموقع (Caching) أو عرض محتواه داخل إطار
        (Framing) على أي موقع آخر. </li>
      <li>يُسمح للمواقع الإلكترونية التابعة لأطراف ثالثة بالربط بهذا الموقع فقط إذا كان الرابط موجهاً إلى الصفحة
        الرئيسية لـ ذا بلاك سيركل. يرجى العلم بأن ذا بلاك سيركل تحتفظ بالحق في تعطيل أي رابط موجّه إلى صفحتها الرئيسية
        إذا رأت أنه غير مناسب.</li>
      <li>وفي أي حال من الأحوال، لا يجوز اعتبار ذا بلاك سيركل مرتبطة أو متعاونة مع أي علامات تجارية أو خدمية أو
        شعارات أو رموز أو أي عناصر أخرى مستخدمة أو ظاهرة في المواقع التي ترتبط بهذا الموقع أو بأي من محتوياته.</li>
      <li>وتخلي ذا بلاك سيركل مسؤوليتها الكاملة عن أي محتوى متاح على أي موقع آخر يتم الوصول إليه عبر روابط من هذا
        الموقع أو إليه، أو عن أي من محتويات هذا الموقع التي قد تظهر في مواقع أخرى.</li>
    </ol>
    <strong>الوصول والتدخّل غير المصرَّح به</strong>
    <p>أنت توافق على أنك لن تقوم بما يلي:</p>
    <ol>
      <li>استخدام أي روبوت أو عنكبوت (Spider) أو أداة جمع بيانات آلية أو برامج استخراج، أو أي رابط عميق (Deep Link)،
        أو أي برنامج أو خوارزمية أو منهجية مشابهة للوصول إلى المواد أو الموقع، أو الحصول عليها، أو نسخها، أو مراقبتها،
        دون الحصول على موافقة خطية وصريحة من ذا بلاك سيركل، والتي يجوز حجبها وفقاً لتقدير ذا بلاك سيركل المنفرد.</li>
      <li>استخدام أو محاولة استخدام أي محرك أو برنامج أو أداة أو وكيل أو أي جهاز أو آلية بما في ذلك ودون حصر المتصفحات،
        أو العناكب، أو الروبوتات، أو الصور الرمزية Avatars، أو الوكلاء الذكيين للتنقّل في الموقع أو البحث فيه، باستثناء
        محركات البحث وأدوات البحث المتاحة من خلال الموقع، والمتصفحات الشائعة المتاحة من أطراف خارجية مثل Microsoft
        Internet Explorer. </li>
      <li>نشر أو إرسال أي ملف يحتوي على فيروسات أو ديدان أو أحصنة طروادة أو أي خصائص ملوِّثة أو مدمِّرة أخرى، أو أي ما
        من شأنه تعطيل أو التأثير على الأداء السليم للموقع.</li>
      <li>محاولة فك الشيفرة أو إلغاء الترجمة البرمجية أو التفكيك أو إجراء أي شكل من أشكال الهندسة العكسية لأي برنامج
        يشكّل جزءاً من الموقع أو يدخل في تكوينه بأي طريقة كانت.</li>
    </ol>
    <p><strong>قواعد تقديم المحتوى</strong></p>

    <p>كجزء من خدمات ذا بلاك سيركل، قد يتيح لك الموقع تقديم إبداء اهتمام بالمشاركة في ذا بلاك سيركل (سواء بشكل مباشر أو
      غير مباشر).</p>
    <ol>
      <li>أنت تتحمّل وحدك المسؤولية الكاملة عن أي محتوى تقوم بتقديمه عبر موقع ذا بلاك سيركل و/أو خدمات المدير.</li>
      <li>بتقديمك لهذا المحتوى، فإنك تقرّ بأن لديك جميع الحقوق اللازمة، وتمنح بموجب ذلك ذا بلاك سيركل ترخيصاً دائماً،
        عالمياً، غير حصري، خالياً من الإتاوات، قابلاً للترخيص الفرعي والنقل، وذلك لاستخدام المحتوى أو إعادة إنتاجه أو
        توزيعه أو إعداد أعمال مشتقة منه أو تعديله أو عرضه أو أدائه كلياً أو جزئياً، وذلك فيما يتعلّق بذا بلاك سيركل، بما
        في ذلك — ودون حصر — لأغراض الترويج أو إعادة توزيع أي جزء من الموقع (وأي أعمال مشتقة منه) بأي صيغة إعلامية ومن
        خلال أي قناة إعلامية.</li>
      <li>لا يجوز لك نشر أو إرسال أي رسالة تتضمّن افتراءً أو تشهيراً، أو تكشف عن معلومات خاصة أو شخصية تخص أي فرد.
        ولا يجوز لك نشر أو إرسال أي رسالة أو بيانات أو صور أو برامج تتّسم بالفحش أو الإباحية أو الإساءة أو التحرش أو
        التهديد أو الكراهية، أو ذات طابع عنصري أو إثني، أو التي تشجّع على سلوك يُعدّ جريمة جنائية أو يؤدّي إلى مسؤولية
        مدنية أو يشكّل انتهاكاً لأي قانون، أو أي محتوى غير ملائم بأي شكل.</li>
      <li>يُحظر إرسال رسائل بريد إلكتروني غير مرغوب فيها، أو نشرات أو اتصالات هاتفية أو غيرها من وسائل التواصل غير
        المرغوب فيها إلى الأفراد أو الشركات الذين تحصل على بيانات الاتصال الخاصة بهم عبر الموقع أو خدمات المدير أو أي
        مراسلات ذات صلة.</li>
    </ol>
    <p><strong>تعويضك</strong></p>

    <p>تلتزم بالدفاع عن ذا بلاك سيركل والمدير، وكافة مسؤوليهما ومديريهم ومساهميهم وموظفيهم ووكلائهم وممثليهم ومستشاريهم،
      وتعويضهم وحمايتهم من أي مطالبات أو نفقات، بما في ذلك — ودون حصر — أتعاب المحاماة، والتي تُفرض عليهم أو يتكبّدونها
      أو تُوجَّه ضدهم نتيجةً لـ أو فيما يتعلّق بما يلي: </p>

    <ol>
      <li>أي عدم امتثال من جانبك لهذه الشروط والأحكام؛ أو</li>
      <li>أي إجراءات من طرف ثالث تتعلق باستخدامك للموقع ومحتواه، سواء كان ذلك مصرحاً به أو غير مصرح به وفقاً لبيان
        الإخلاء.</li>
      <li>3. ولا يُعدّ أي تعاون من ذا بلاك سيركل في مثل هذا الدفاع تنازلاً عن أي امتيازات قانونية، بما في ذلك امتيازات
        السرية بين المحامي والعميل أو منتج العمل القانوني أو أي امتيازات أخرى، سواء بموجب هذه الشروط والأحكام أو بيان
        الإخلاء أو بموجب القانون المعمول به.</li>
    </ol>

    <p><strong>ملفات تعريف الارتباط (الكوكيز)</strong></p>

    <p>يستخدم ذا بلاك سيركل ملفات تعريف الارتباط (كما هو موضّح بشكل أوسع في سياسة الكوكيز الخاصة بذا بلاك سيركل) حصرياً
      لأغراض تتعلّق بوظائف الموقع.</p>

    <p><strong>تحليلات جوجل (Google Analytics)</strong></p>

    <p>يستخدم ذا بلاك سيركل Google Analytics كأداة لتحليل بيانات الويب بهدف تزويده بتقارير إحصائية حول حركة الزوار على
      الموقع. التقارير الإحصائية التي يتلقّاها ذا بلاك سيركل من Google Analytics تحتوي على بيانات مجهّلة المصدر ومجمّعة،
      ولا تتضمن أي معلومات تُعرّف شخصياً زوّار الموقع.</p>

    <p><strong>الإشعارات</strong></p>

    <p>
      جميع الإشعارات والمراسلات المطلوبة بموجب بيان الإخلاء هذا يجب أن تكون خطية، وأن تُوجَّه إلى:
      <a href="mailto:legal@theblackcircle.com">legal@theblackcircle.com</a>،
      وتُعتبر الإشعارات مسلّمة أصولاً عند استلامها فعلياً من الطرف الآخر، أو عند اعتبارها مستلمة حكماً إذا أُرسلت عبر
      بريد مُسجّل أو بختم بريد أو إيصال من شركة شحن إلى العنوان المذكور أو أي عنوان آخر يحدده أي طرف بإشعار للطرف الآخر.
    </p>


    <p><strong>أحكام عامة</strong></p>

    <p>إن عدم قيام ذا بلاك سيركل بممارسة أي حق قانوني أو أي وسيلة قانونية للإنصاف منصوص عليها في بيان الإخلاء هذا أو
      بموجب القانون المعمول به، لا يجوز تفسيره بأي حال من الأحوال على أنه تنازل من ذا بلاك سيركل عن ذلك الحق أو تلك
      الوسيلة.</p>

    <p>ويُشكّل بيان الإخلاء هذا، وسياسة الكوكيز، وسياسة حماية البيانات والخصوصية، وأي تعديلات تطرأ عليها من وقت لآخر،
      الاتفاق الكامل والوحيد بينك وبين ذا بلاك سيركل بشأن موضوعه، ويلغي ويحلّ محلّ جميع الاتفاقيات والتفاهمات السابقة.
    </p>
  </div>
</section>

{{ end }}