<section class="block cta-section">
  <!--<div class="block-bg">
    <img src="{{ (resources.Get "images/cta-bg.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>-->
  <div class="container position-relative pt-lg-5 mt-lg-5" dir="rtl">
    <div class="row">
      <div class="col-12 col-lg-12 text-center" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-5">بوابتك الموثوقة للثروة الرقمية</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="row gx-4 gy-4 justify-content-center">
          <!-- Card 1 -->
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="mb-3">العملاء من القطاع الخاص</h5>
                  <p>لقد بنيت ثروتك بالرؤية والانضباط. حان الوقت الآن للحفاظ عليها وتنميتها بالهيكلة والخبرة والسرية. </p>
                  <ul>
                    <li>مدير علاقات خاص</li>
                    <li>استراتيجيات مخصصة ومصممة لمحفظتك</li>
                    <li>تنفيذ وإعداد تقارير وفقاً للمعايير المؤسسية</li>
                    <li>سرية وأمان بمعايير المؤسسات المالية الكبرى</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="mb-3">المكاتب العائلية ومدراء الأصول</h5>
                  <p>ندعم المكاتب العائلية ومدراء الأصول في إدارة الأصول الرقمية بامتثال، دقة، ووضوح تام.</p>
                  <ul>
                    <li>تصميم الاستراتيجية بما يتماشى مع الأهداف والتفويضات.</li>
                    <li>خدمات الحفظ الأمين والإقراض طبقاً للمعايير التنظيمية.</li>
                    <li>تداول خارج البورصة والوصول إلى السيولة.</li>
                    <li>تقارير متخصصة تلبي أعلى معايير الحوكمة.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>