<section class="block cta-section">
  <!--<div class="block-bg">
    <img src="{{ (resources.Get "images/cta-bg.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>-->
  <div class="container position-relative pt-lg-5 mt-lg-5" dir="rtl">
    <div class="row">
      <div class="col-12 col-lg-12 text-center" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase mb-5">بوابتك المنظمة للثروة الرقمية</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="row gx-4 gy-4 justify-content-center">
          <!-- Card 1 -->
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="mb-3">عملاء خاصون</h5>
                  <p>لقد بنيت الثروة بالرؤية والانضباط. حان الوقت الآن للحفاظ عليها وتنميتها من خلال الهيكلة والخبرة والسرية.</p>
                  <ul>
                    <li>مدير علاقات مخصص</li>
                    <li>استراتيجيات مخصصة تتناسب مع محفظتك</li>
                    <li>تنفيذ وتقرير على مستوى المؤسسات</li>
                    <li>خصوصية وأمان بمستوى البنوك</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="mb-3">مكاتب العائلة ومديرو الأصول الخارجيون</h5>
                  <p>نساعد مكاتب العائلة ومديري الأصول الخارجيين في إدارة الأصول الرقمية مع الامتثال والدقة والوضوح.</p>
                  <ul>
                    <li>تصميم الاستراتيجية بما يتوافق مع التفويضات</li>
                    <li>حفظ الأصول وإقراضها بشكل منظم</li>
                    <li>تداول OTC والوصول إلى السيولة</li>
                    <li>تقارير جاهزة للحوكمة</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>