<section class="block execution-section">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/map-pic.jpg").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100">
    <img src="{{ (resources.Get "images/map-pic-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100">
  </div>
  <div class="container position-relative">
    <div class="row align-items-center" data-aos="fade-up" data-aos-duration="500">
      <div class="col-12 col-lg-6 mb-4 mb-md-0 text-light">
        <h2 class="mb-3 text-uppercase">لماذا البيتكوين منطقي</h2>
        <p><strong>البيتكوين</strong> أثبت نفسه كأفضل مخزن للقيمة في العصر الرقمي، متجاوزًا مؤخرًا الذهب كأصل صلب رائد، ومتفوّقًا على معظم فئات الأصول التقليدية.</p>
        <p><strong>يوسّع البيتكوين عالم مخزن القيمة من خلال إضافة طبقة رقمية من الوصولية، السيولة، والابتكار.</strong></p>
      </div>
      <div class="col-12 col-lg-6 mb-4 mb-md-0 ps-lg-4 ps-xl-5 text-light">
        <div class="row content-box-items">
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">>70%</h3>  
            <p class="mb-0">متوسط العائد السنوي خلال العقد الماضي</p>
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">USD 5.5 تريليون</h3>
            <p class="mb-0">القيمة السوقية المتوقعة للبيتكوين بحلول 2030</p>    
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">USD 2.3 تريليون</h3>
            <p class="mb-0">القيمة السوقية الحالية للبيتكوين (2025)</p>
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">>900 مليون</h3>
            <p class="mb-0">إجمالي معاملات البيتكوين <br>المعاملات المسجلة منذ الإطلاق</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>