
<section class="block execution-section">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/map-pic.jpg").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100">
    <img src="{{ (resources.Get "images/map-pic-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100">
  </div>
  <div class="container position-relative">
    <div class="row align-items-center" data-aos="fade-up" data-aos-duration="500">
      <div class="col-12 col-lg-6 mb-4 mb-md-0 text-light">
        <h2 class="mb-3 text-uppercase">WHY BITCOIN MAKES SENSE</h2>
        <p><strong>Bitcoin</strong> has established itself as the preeminent store of value of the digital era, Joining and recently exceeding gold as a leading hard asset,and outperforming most traditional asset classes.</p>
        <p><strong>Bitcoin expands the store-of-value universe by adding a digital layer of accessibility, liquidity,and innovation.</strong></p>
      </div>
      <div class="col-12 col-lg-6 mb-4 mb-md-0 ps-lg-4 ps-xl-5 text-light">
        <div class="row content-box-items">
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">>70%</h3>  
            <p class="mb-0">Average Annual Return Over the Past Decade</p>
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">USD 5.5 T</h3>
            <p class="mb-0">Projected Bitcoin Market Cap by 2030</p>    
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">USD 2.3 T</h3>
            <p class="mb-0">Current Market Capitalization of Bitcoin (2025)</p>
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">>900 M</h3>
            <p class="mb-0">Total Bitcoin Transactions <br>Transactions Recorded Since Launch</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>