<!-- Section -->
<section class="block future-wealth-section z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center text-light pb-4" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase">This Is What Makes Us Different</h2>
      </div>
    </div>
    <div class="row row-gap-4">
      <!-- Card 1 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">Service</h5>
              <p>Dedicated relationship manager, fully encrypted communications.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">Access</h5>
              <p>Facilitation of third-party products, ensuring objective selection and decisions driven solely by your interests.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">Security</h5>
              <p>Fully segregated, private and insured offering.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">Compliance</h5>
              <p>Operating from Abu Dhabi Global Market (ADGM), authorized by the Financial Services Regulatory Authority (FSP No. 220084).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>