<!-- Section -->
<section class="block future-wealth-section z-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center text-light pb-4" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase">هذا ما يجعلنا مختلفين</h2>
      </div>
    </div>
    <div class="row row-gap-4">
      <!-- Card 1 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">خدمة</h5>
              <p>مدير علاقات مخصص، اتصالات مشفرة بالكامل.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">وصول</h5>
              <p>تسهيل الحصول على منتجات الطرف الثالث، وضمان الاختيار الموضوعي واتخاذ القرارات بناءً على اهتماماتك فقط.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">حماية</h5>
              <p>عرض منفصل بالكامل وخاص ومؤمن عليه.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-12 col-lg-3" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="mb-3">امتثال</h5>
              <p>تعمل من سوق أبوظبي العالمي (ADGM)، مرخصة من قبل هيئة تنظيم الخدمات المالية (رقم FSP 220084).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>