<section id="holistic-platform" class="block platform-block position-relative pb-0">
  <div class="container text-center" style="position: relative; z-index: 2;">
    <h1 class="h2 mb-4 text-uppercase" data-aos="fade-up" data-aos-duration="500">حيث تلتقي الأصول الرقمية بالإدارة المؤسسية</h1>
    <div class="platform-inner-block" data-aos="fade-up" data-aos-duration="700">
      <div class="step-items platform-slider mb-5">
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">01</h3>
              <h6 class="step-name">التمويل</h6>
            </div>
          </div>
        </div>
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">02</h3>
              <h6 class="step-name">الاستثمار</h6>
            </div>
          </div>
        </div>
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">03</h3>
              <h6 class="step-name">التخطيط للثروة</h6>
            </div>
          </div>
        </div>
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">04</h3>
              <h6 class="step-name">حلول مصممة لتلبية احتياجاتك</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block platform-content-block pt-0" data-aos="fade-up" data-aos-duration="700">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/holistic-background.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100">
    <img src="{{ (resources.Get "images/holistic-background.png").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100">
  </div>
  <div class="container">
    <div class="platform-content-slider">
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h5 class="text-uppercase fw-light mb-3 mt-4">التمويل</h5>
              <p>حرر سيولتك دون المساس بأصولك، عبر إطارٍ متوافق مع الأنظمة ويمنحك المرونة التي تحتاجها.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">كن أحد عملائنا</a>
              </div>
            </div>
          </div>
        </div>
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/trading-desk-img.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h5 class="text-uppercase fw-light mb-3 mt-4">الاستثمار</h5>
              <p>حلول حفظ مؤسسية، وتداول احترافي، واستراتيجيات عائد مصمّمة للأداء والشفافية.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">كن أحد عملائنا</a>
              </div>
            </div>
          </div>
        </div>
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin-crypto-yield-strategies-icon.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h5 class="text-uppercase fw-light mb-3 mt-4">التخطيط للثروة</h5>
              <p>حافظ على ثروتك وقم بهيكلتها عبر الأجيال - من خلال حلول وراثة ووصاية متوافقة مع متطلبات الامتثال للأنظمة</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">كن أحد عملائنا</a>
              </div>
            </div>
          </div>
        </div>
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/segregated-custody-icon.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h5 class="text-uppercase fw-light mb-3 mt-4">حلول مصممة لتلبية احتياجاتك</h5>
              <p>عزّز حضورك المالي العالمي. إقامة مميزة، وصول مصرفي حصري، ومزايا شبكة ذا بلاك سيركل الخاصة</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">كن أحد عملائنا</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>