<section id="holistic-platform" class="block platform-block position-relative pb-0">
  <div class="container text-center" style="position: relative; z-index: 2;">
    <h1 class="h2 mb-4 text-uppercase" data-aos="fade-up" data-aos-duration="500">Where Digital Wealth Works for You</h1>
    <div class="platform-inner-block" data-aos="fade-up" data-aos-duration="700">
      <div class="step-items platform-slider mb-5">
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">01</h3>
              <h6 class="step-name">Bitcoin & Crypto Lending</h6>
            </div>
          </div>
        </div>
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">02</h3>
              <h6 class="step-name">OTC Trading</h6>
            </div>
          </div>
        </div>
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">03</h3>
              <h6 class="step-name">Bitcoin & Crypto Yield Strategies</h6>
            </div>
          </div>
        </div>
        <div class="step-item">
          <div class="step-item-inner">
            <div class="step-content">
              <h3 class="step-number">04</h3>
              <h6 class="step-name">Segregated Custody</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block platform-content-block pt-0" data-aos="fade-up" data-aos-duration="700">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/crypto-bg.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container">
    <div class="platform-content-slider">
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h4 class="mb-3 mt-4">Bitcoin & Crypto Lending</h4>
              <p>Access loans secured by Bitcoin and other major assets. Maintain full ownership while unlocking capital for investments or personal use. Regulated custody and discreet service ensure liquidity with complete control.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/trading-desk-img.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h4 class="mb-3 mt-4">OTC Trading</h4>
              <p>Execute large Bitcoin and crypto transactions with confidence. Our OTC desk provides deep liquidity, competitive pricing, and full confidentiality from execution to settlement.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/bitcoin-crypto-yield-strategies-icon.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h4 class="mb-3 mt-4">Bitcoin & Crypto Yield Strategies</h4>
              <p>Earn steady returns on long-term crypto holdings. Our yield solutions prioritize security and consistency, turning idle assets into productive capital.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="platform-content-slide">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center text-light">
              <img src="{{ (resources.Get "images/segregated-custody-icon.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="140px">
              <h4 class="mb-3 mt-4">Segregated Custody</h4>
              <p>Store Bitcoin and other digital assets with regulated, segregated custody. Your holdings remain protected, liquid, and always under your control.</p>
              <div class="d-flex justify-content-center pt-3">
                <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">REQUEST ACCESS</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
