{{ define "main" }}

<section class="block inner-hero-block position-relative">
  <!-- <div class="hero-bg opacity-half">
    <img src="{{ (resources.Get "images/request-bg.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
    <img src="{{ (resources.Get "images/request-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
  </div> -->
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5">
      <div class="col-12 col-lg-8 z-1" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item px-lg-5 pt-lg-5">
            <h1 class="d-inline-block text-uppercase mb-4 pb-lg-2">Ready to secure and grow your digital assets?</h1>
            <p class="text-light mb-3 mb-lg-4 px-xl-4">The Black Circle serves private clients, family offices, and institutions seeking institutional-grade digital asset management.</p>
            <p class="text-light mb-0 px-xl-4">If you are a professional investor or organization looking for bespoke solutions, complete the form below. A dedicated manager will contact you to discuss your needs in confidence.</p> 
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style">
  <div class="block-bg bottom-0">
    <img src="{{ (resources.Get "images/holistic-background.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100 h-100">
  </div>
  <div class="container position-relative z-1">
    <div class="row justify-content-center mb-5 pb-lg-3">
      <div class="col-12 col-lg-7">
        <div class="text-center text-light">
          <h2 class="h4 d-inline-block text-uppercase text-center mb-0">BECOME A CLIENT</h2>
        </div>
        {{ partial "contact-form.html" . }}
      </div>
    </div>
  </div>
</section>

<!-- Section -->
<section class="block solution-section z-1">
  <div class="container">
    <div class="row justify-content-center mb-lg-5 pb-lg-3">
      <div class="col-12 col-lg-10 col-xl-8 text-center" data-aos="fade-up" data-aos-duration="500">
        <h2 class="h3 d-inline-block text-uppercase">Qualification Requirements</h2>
        <h3 class="h6 mb-lg-5">Exclusive Access. Exceptional Service.</h3>
        <p class="text-light mb-0">At The Black Circle, we serve a select group of individuals, family offices, and institutions who meet our internal thresholds and the regulatory standards of the Abu Dhabi Global Market (ADGM) under FSRA supervision. We ensure every client is classified and onboarded in accordance with FSRA rules, including full AML/KYC procedures and CRS/FATCA compliance.</p>
      </div>
    </div>
  </div>
</section>

{{ end }}
