{{ define "main" }}

<section class="block inner-hero-block position-relative">
  <!-- <div class="hero-bg">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
    <img src="{{ (resources.Get "images/our-values-section-bg-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
  </div> -->
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5">
      <div class="col-12 col-lg-11" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item px-lg-5 pt-lg-5">
            <h1 class="d-inline-block text-uppercase mb-4 pb-lg-2">بوابتك الموثوقة للثروة الرقمية</h1>
            <p class="text-light mb-3">نُوفِّر لكم مدخلاً للأصول الرقمية بمعايير مؤسسية صارمة، ضمن إطار تنظيمي متكامل، لخدمة ثروتكم الخاصة، أو مكتبكم العائلي، أو مستشاركم المالي. <br>نعمل تحت إشراف سوق أبوظبي العالمي وسلطة تنظيم الخدمات المالية، ونجمع بين الانضباط المالي والتكنولوجيا لنوفّر بيئة موثوقة، آمنة، وخاصة لإدارة الثروة الرقمية.</p>
            <!-- <div class="d-flex pt-4 pt-xl-5 justify-content-center">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">Become a Client</a>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <!-- <div class="block-bg top-0 opacity-low">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div> -->
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12" data-aos="fade-up" data-aos-duration="500">
        <h2 class="d-inline-block text-uppercase text-center mb-5 pb-lg-3">مرتكزاتنا</h2>
      </div>
    </div>
    <div class="row row-gap-4">
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">الأمان</h3>
            <p class="mb-0">حفظ أمثل للأصول بمعايير مؤسسية، وبنية تحتية مؤمَّنة تضمن حماية كل أصل تحت إدارتنا</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">الخدمة</h3>
            <p class="mb-0">يقدّم لكم مدير علاقات خاص دعمًا شخصيًا على مدار الساعة، مع ضمان أعلى درجات السرّية والدقّة والوضوح في كل تعامل.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">الامتثال</h3>
            <p class="mb-0">بصفتنا جهة مُرخَّصة وخاضعة لتنظيم سلطة تنظيم الخدمات المالية رقم الترخيص (FSP 220084)، نعمل بشفافية كاملة ويقين قانوني تام.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="900">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">امتياز الوصول</h3>
            <p class="mb-0">نموذج استشاري مستقل يوفّر وصولًا موضوعيًا إلى منتجات أطراف ثالثة، مع ضمان أن يتم الاختيار بناءً على مصلحة العميل فقط.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style">
  <div class="block-bg top-0 opacity-low">
    <img src="{{ (resources.Get "images/holistic-background.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="500">
        <h2 class="d-inline-block text-uppercase text-center mb-5 pb-lg-3">القيادة التنفيذية</h2>
      </div>
      <div class="col-12 col-lg-8">
        <div class="row row-gap-4">
          <div class="col-12 col-md-6 d-flex flex-column" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card text-light h-auto mb-3">
              <div class="card-body d-flex flex-column py-3 px-4">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 pe-3">
                    <p class="mb-1">رئيس مجلس الإدارة التنفيذي</p>
                    <h4 class="fs-3 mb-0">أليكس تاي</h4>
                  </div>
                  <div class="flex-shrink-0">
                    <img src="{{ (resources.Get "images/alex-tai.png").RelPermalink }}" alt="Alex Tai" class="img-fluid rounded-circle" loading="lazy" width="120px">
                  </div>
                </div>
              </div>
            </div>
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column">
                <ul class="m-0 p-0 ps-2">
                  <li>أكثر من 30 عامًا من الخبرة القيادية في مجالات البلوكتشين، والطيران والفضاء، والابتكار الاستثماري.</li>
                  <li>عضو مجلس إدارة في المجلس العالمي للأعمال القائمة على البلوكتشين  (GBBC)، مساهِم في تعزيز تبنّي الأصول الرقمية على المستوى المؤسسي.</li>
                  <li>شغل سابقاً منصب مدير مجموعة Virgin Management Ltd  والرئيس التنفيذي للعمليات في Virgin Galactic  ، حيث قاد الاستراتيجية العالمية والابتكار وتطوير الأعمال.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex flex-column" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card text-light h-auto mb-3">
              <div class="card-body d-flex flex-column py-3 px-4">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 pe-3">
                    <p class="mb-1">المدير المالي التنفيذي</p>
                    <h4 class="fs-3 mb-0">إيفان غريغوريف</h4>
                  </div>
                  <div class="flex-shrink-0">
                    <img src="{{ (resources.Get "images/ivan-grigorev.png").RelPermalink }}" alt="Ivan Grigorev" class="img-fluid rounded-circle" loading="lazy" width="120px">
                  </div>
                </div>
              </div>
            </div>
            <div class="card custom-card text-light">
              <div class="card-body d-flex flex-column">
                <ul class="m-0 p-0 ps-2">
                  <li>خبرة لأكثر من عقد في مجال الأصول الرقمية، التداول الكمي والتمويل المؤسسي.</li>
                  <li>شغل سابقًا منصب شريك ومدير مالي في Alber Blanc ، حيث قاد توسّع أسواق الأصول الرقمية، واستراتيجيات السيولة، وبناء بنية تحتية للتداول عبر الحدود.  </li>
                  <li>بدأ مسيرته كمتداول خوارزمي، مُديرًا رأس مالٍ مملوكًا للشركة ومطوّرًا لنماذج فائق السرعة.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style">
  <!-- <div class="block-bg top-0 opacity-low">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div> -->
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12" data-aos="fade-up" data-aos-duration="500">
        <h2 class="d-inline-block text-uppercase text-center mb-5 pb-lg-3">قيمنا</h2>
      </div>
    </div>
    <div class="row row-gap-4">
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">التميّز في كل شيء</h3>
            <p class="mb-0">نلتزم بأعلى المعايير في كل ما نقوم به. فالتميّز بالنسبة لنا هو النقطة التي ننطلق منها، لا الهدف الذي نسعى إليه.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">فلسفة العميل أولًا</h3>
            <p class="mb-0">كل قرار نبدأه بسؤال واحد: هل يخدم مصلحة العميل؟</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="800">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">النزاهة المؤسسية</h3>
            <p class="mb-0">نعمل بشفافية كاملة، وانضباط تنظيمي، ورعاية ائتمانية ملتزمة، لنضع معيارًا جديدًا لإدارة الأصول الرقمية.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3" data-aos="fade-up" data-aos-duration="900">
        <div class="card custom-card text-light">
          <div class="card-body d-flex flex-column">
            <h3 class="h5 mb-2">ابتكار هادف</h3>
            <p class="mb-0">نطبّق التقنيات التي تعزّز الأمان، وتحسّن النتائج، وترتقي بتجربة العميل.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center text-center mb-3 mb-lg-5">
      <div class="col-12 col-lg-8 pt-lg-3" data-aos="fade-up" data-aos-duration="500">
        <h2 class="d-inline-block text-uppercase text-center mb-3">ما وراء إدارة الثروات</h2>
        <p class="text-light text-center px-lg-3">ذا بلاك سيركل ليست مجرد مؤسسة مالية. فإلى جانب خدماتنا الأساسية، نفتح الأبواب أمام فرص فريدة تعزّز قيمة عملائنا بثلاث طرق:</p>
      </div>
    </div>
    <div class="row g-3 justify-content-center">
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body">
            <div class="mb-4">
              <img src="{{ (resources.Get "images/visionaries.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="100px">
            </div>
            <h4 class="d-inline-block text-uppercase mb-3 pb-lg-1">شبكة من أصحاب الرؤية</h4>
            <p class="mb-0">إمكانية الوصول إلى منظومة تضمّ روّاد الأعمال والمبتكرين وقادة قطاعات المال والتقنية والابتكار. ومن خلال فعاليات خاصة ولقاءات مُنتقاة، نمد الجسور بينك وبين صُنّاع المستقبل.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card text-light">
          <div class="card-body">
            <div class="mb-4">
              <img src="{{ (resources.Get "images/client-choose.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="100px">
            </div>
            <h4 class="d-inline-block text-uppercase mb-3 pb-lg-1">تحليلات وأبحاث حصرية</h4>
            <p class="mb-0">يقدّم فريق الأبحاث المتخصّص لدينا تحليلات السوق ورؤى استراتيجية، تزوّدك بالوضوح اللازم لاتخاذ قرارات واثقة واغتنام الفرص.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card text-light">
          <div class="card-body">
            <div class="mb-4">
              <img src="{{ (resources.Get "images/tailored-solutions.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="100px">
            </div>
            <h4 class="d-inline-block text-uppercase mb-3 pb-lg-1">خبرات وحلول مصمَّمة خصيصًا لك</h4>
            <p class="mb-0">من الترتيبات المالية إلى الاستراتيجيات المفصّلة، نبتكر مسارات أُعدّت حصريًا لك. فكل حلّ يعزّز ثروتك، وينوّعها، ويحميها لتحقيق نمو مستدام.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block call-to-action">
  <div class="container">
    <div class="w-100 call-to-action-inner p-4 p-lg-5 position-relative d-flex">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-12 col-lg-12 pe-xl-5 z-1" data-aos="fade-up" data-aos-duration="500">
            <h4 class="mb-3">حان وقتك لتصبح جزءًا من الدائرة</h4>
            <p class="mb-4 text-light text-large">امتياز حصري. خدمة استثنائية</p>
            <div class="d-flex pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">إنضم الى الدائرة</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 call-to-action-pic">
            <img src="{{ (resources.Get "images/call-to-action.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
            <img src="{{ (resources.Get "images/call-to-action-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
