{{ define "main" }}
<section class="block execution-section">
  <div class="block-bg">
    <img src="{{ (resources.Get "images/map-pic.jpg").RelPermalink }}" alt="الدائرة السوداء" class="img-dark img-fluid w-100">
    <img src="{{ (resources.Get "images/map-pic-light.jpg").RelPermalink }}" alt="الدائرة السوداء" class="img-light img-fluid w-100">
  </div>
  <div class="container position-relative">
    <div class="row align-items-center" data-aos="fade-up" data-aos-duration="500">
      <div class="col-12 col-lg-6 mb-4 mb-md-0 text-light">
        <h2 class="mb-3 text-uppercase">لماذا البيتكوين منطقي</h2>
        <p><strong>البيتكوين</strong> أصبح مخزن القيمة الرائد في العصر الرقمي، متجاوزًا الذهب مؤخراً وتفوقه على معظم الأصول التقليدية.</p>
        <p><strong>يمد البيتكوين عالم مخازن القيمة بطبقة رقمية من الوصولية والسيولة والابتكار.</strong></p>
      </div>
      <div class="col-12 col-lg-6 mb-4 mb-md-0 ps-lg-4 ps-xl-5 text-light">
        <div class="row content-box-items">
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">>70%</h3>  
            <p class="mb-0">العائد السنوي المتوسط خلال العقد الماضي</p>
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">USD 5.5 T</h3>
            <p class="mb-0">القيمة السوقية المتوقعة للبيتكوين بحلول 2030</p>    
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">USD 2.3 T</h3>
            <p class="mb-0">القيمة السوقية الحالية للبيتكوين (2025)</p>
          </div>
          <div class="col-6 col-md-6 py-3 content-box-item">
            <h3 class="mb-2">>900 M</h3>
            <p class="mb-0">إجمالي معاملات البيتكوين منذ الانطلاق</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
