{{ define "main" }}

<section class="block inner-hero-block position-relative">
  <!-- <div class="hero-bg">
    <img src="{{ (resources.Get "images/our-values-section-bg-img.jpg").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
    <img src="{{ (resources.Get "images/our-values-section-bg-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
  </div> -->
  <div class="container text-center">
    <div class="row justify-content-center pb-lg-3 pt-5 mt-xl-5">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="500">
          <div class="inner-hero-item px-lg-5">
            <h1 class="d-inline-block text-uppercase mb-4 pb-lg-2">الإقراض بضمان البيتكوين</h1>
            <p class="text-light mb-0">توفير السيولة النقدية لاستخداماتك التقديرية، مع الاحتفاظ بالملكية والاستفادة من تحركات السوق.</p>
            <!-- <div class="d-flex justify-content-center pt-3">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">BECOME A CLIENT</a>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12" data-aos="fade-up" data-aos-duration="500">
        <h2 class="d-inline-block text-uppercase text-center mb-5 pb-lg-3">ما سر تفضيل كبار العملاء لخدمات الإقراض التي نقدمها؟</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row row-gap-4">
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/bitcoin.png").RelPermalink }}" alt="Star" class="img-fluid" loading="lazy">
                </div>
                <h3 class="h5 mb-2">تنفيذ بمعايير مؤسسية</h3>
                <p class="mb-0">أسعار تنافسية وسيولة عميقة عبر شركاء عالميين موثوق بهم.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/trading-desk-img.png").RelPermalink }}" alt="Star" class="img-fluid" loading="lazy">
                </div>
                <h3 class="h5 mb-2">هندسة قروض مصممة خصيصاً</h3>
                <p class="mb-0">شروط مرنة مُعدَّة لتتوافق مع احتياجاتك وتوقيتك المحدد.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/client-choose-03.png").RelPermalink }}" alt="Star" class="img-fluid" loading="lazy">
                </div>
                <h3 class="h5 mb-2">الحفظ الأمين للأصول</h3>
                <p class="mb-0">حماية الأصول من قِبل مزودين خاضعين للرقابة وبنية تحتية على المستوى المؤسسي.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="900">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column">
                <div class="card-icon d-flex align-items-center justify-content-center mb-3 mb-lg-4">
                  <img src="{{ (resources.Get "images/client-choose.png").RelPermalink }}" alt="Star" class="img-fluid" loading="lazy">
                </div>
                <h3 class="h5 mb-2">خدمة فائقة وحصرية</h3>
                <p class="mb-0">مواكبة متخصصة في كل مرحلة من مراحل العملية، بدءاً من هندسة القرض وحتى التنفيذ.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block-bg-img-style">
  <div class="block-bg top-0">
    <img src="{{ (resources.Get "images/holistic-background.png").RelPermalink }}" alt="The Black Circle" class="img-fluid w-100">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-12 text-light text-center mb-4 mb-xl-5" data-aos="fade-up" data-aos-duration="500">
        <h2 class="text-uppercase">المزايا الرئيسية</h2>
      </div>
      <div class="col-12 col-lg-12">
        <div class="row row-gap-3">
          <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-up" data-aos-duration="600">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="fs-5 mb-0">إتاحة السيولة دون تصفية الأصول الأساسية</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-up" data-aos-duration="700">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="fs-5 mb-0">الاحتفاظ بالملكية والاستفادة الكاملة من تحركات السوق</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="fs-5 mb-0">الاستفادة من شروط رائدة في القطاع ضمن إطار تنظيمي</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="fs-5 mb-0">تمويل الاحتياجات المعيشية وشراء العقارات أو فرص إعادة الاستثمار</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="fs-5 mb-0">توثيق شفاف وحفظ أمين مؤمَّن عليه</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-up" data-aos-duration="800">
            <div class="card custom-card custom-card-style text-light">
              <div class="card-body d-flex flex-column justify-content-center">
                <p class="fs-5 mb-0">نعمل بالكامل ضمن المعايير التنظيمية لسوق أبوظبي العالمي / سلطة تنظيم الخدمات المالية</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-lg-8 pt-lg-3" data-aos="fade-up" data-aos-duration="500">
        <h2 class="d-inline-block text-uppercase text-center mb-5 pb-lg-3">كيف تستفيد منه</h2>
      </div>
    </div>
    <div class="row row-gap-4 justify-content-center">
      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="700">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body px-lg-5">
            <div class="row align-items-center">
              <div class="col-12 col-md-3 pb-3 p-xl-3 text-md-center">
                  <img src="{{ (resources.Get "images/trusted-icon.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="160px">
              </div>
              <div class="col-12 col-md-9">
                <h4 class="d-inline-block text-uppercase mb-3">العملاء من الأفراد</h4>
                <p class="mb-0">يمكنك الوصول إلى رأس المال دون تصفية أصولك أو التسبب في تفعيل التزامات ضريبية. استخدم أصولك الرقمية لتمويل احتياجاتك المعيشية، استثماراتك، أو تنويع محفظتك ضمن هيكل آمن وخاضع للتنظيم يحمي الملكية والخصوصية.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-10" data-aos="fade-up" data-aos-duration="600">
        <div class="card custom-card full-custom-card text-light">
          <div class="card-body px-lg-5">
            <div class="row align-items-center flex-column-reverse flex-md-row">
              <div class="col-12 col-md-9">
                <h4 class="d-inline-block mb-3">المكاتب العائلية ومديرو الأصول</h4>
                <p class="mb-0">زوِّد العملاء بحلول ائتمانية مُنظَّمة ومدعومة بالأصول الرقمية. يتكامل إطارنا بسلاسة في المحافظ الاستثمارية، مع الامتثال الكامل، والشفافية، والحفظ الأمين المؤمَّن عليه.</p>
              </div>
              <div class="col-12 col-md-3 pb-3 p-xl-3 text-md-center">
                <img src="{{ (resources.Get "images/visionaries.png").RelPermalink }}" alt="The Black Circle" class="img-fluid" loading="lazy" width="160px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block call-to-action">
  <div class="container">
    <div class="w-100 call-to-action-inner p-4 p-lg-5 position-relative d-flex">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-12 col-lg-12 pe-xl-5 z-1" data-aos="fade-up" data-aos-duration="500">
            <h4 class="mb-3">فرصتك للانضمام إلى الدائرة</h4>
            <p class="mb-4 text-light text-large">وصول حصري. خدمة استثنائية.</p>
            <div class="d-flex pt-4">
              <a href="{{ "/request-access/" | relURL }}" class="btn btn-primary">انضم الى الدائرة</a>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-6 call-to-action-pic">
            <img src="{{ (resources.Get "images/call-to-action.png").RelPermalink }}" alt="The Black Circle" class="img-dark img-fluid w-100 h-100">
             <img src="{{ (resources.Get "images/call-to-action-light.jpg").RelPermalink }}" alt="The Black Circle" class="img-light img-fluid w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
